################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Variables_Consola/.vs/Variables_Consola/v16
/Variables_tipo/.vs/Variables_tipo/v16/Server/sqlite3
/Aritmetica/.vs/Aritmetica/v16/Server/sqlite3
/Ejercicio1_5/.vs/Ejercicio1_5/v16/Server/sqlite3
/Ejercicio1_6/.vs/Ejercicio1_6/v16/Server/sqlite3
/Semanas/.vs/Semanas/v16/Server/sqlite3
/Tablas de Verdad/.vs/Tablas de Verdad/v16/Server/sqlite3
